.navButtons {
	color: #E9C58F;
	background-color: black;
	padding: 6px 8px 0px 8px;
	font-size: 1.5em;
	border-radius: 6px;
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
	border-width: 2px;
	border-style: solid;
	border-color: #E9C58F;
}

.navButtons:hover {
	background-image: url(images/nameBackGround.png);

}

.navButtonContainer {
	float: right; 
}

.navBackground {
	background-image: url(images/backGround.png);
	border: 0;
	margin-bottom: -10px;
}

.mainContainer {
	background-image: url("images/backGround.png");
	border-top-right-radius: 20px;
	border-top-left-radius:  20px;
	padding: 12px 12px 10px 12px;
	margin-top: 10px;
}

.name {
	color: #E8BC7A;
	font-size: 2em;
	font-family: 'Baloo Bhaina', cursive;	
	background-color: black;
	border-radius: 10px;
	height: 50px;
	width: 278px;
	padding-top: 13px;
	padding-left: 15px;
	margin-left: -15px;
	border-width: 2px;
	border-style: solid;
	border-color: #E9C58F;

}

.test {
	padding: 0;
}

.center {
	text-align: center;
	margin-top: 6px;
	margin-right: 0px;
}

#headShot {
	float: left;
	margin: 5px 20px 5px 0;
}

.content {
	padding: 20px;
	background-image: url(images/purty_wood.png);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.contentTop {
	background-image: url(images/purty_wood.png);
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	margin: 10px 0 5px 0;
	text-align: center;
	color: #161924;
}

.connect {
	background-image: url(images/weather.png);
	width: 290px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	border-radius: 12px;

}

#footer {
	text-align: center;
	background-image: url("images/backGround.png");
	height: 60px;
	padding-top: 18px;
	clear: both;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: black;
	color: #E8BC7A;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius:  20px;
	margin-bottom: 10px;
}


/* NAVBAR TEST AREA*/

.right {
	float: right;
}

h1 {
	margin-top: -2px;
	font-weight: bold;
}

h3 {
	font-family: 'Baloo Bhaina', cursive;	
	font-size: 2em;
	font-weight: bold;
	margin-top: 19px;
}

.navbar-header {
	margin-left: 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin: 0;
}

#aboutMe {
	margin-bottom: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}