.navButtons {
	background-image: url(images/purty_wood.png);
	color: #161924;
	padding: 6px 8px 0px 8px;
	font-size: 1.5em;
	border-radius: 6px;
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.navButtons:hover {
	background-image: none;
	color: #EBC07D;
}

.navButtonContainer {
	float: right; 
}

.navBackground {
	background-image: url(images/backGround.png);
	border: 0;
	margin-bottom: -10px;
}

.mainContainer {
	background-image: url("images/backGround.png");
	border-top-right-radius: 20px;
	border-top-left-radius:  20px;
	padding: 12px 12px 10px 12px;
	margin-top: 10px;
}

.name {
	background-image: url(images/purty_wood.png);
	color: #161924;
	font-size: 2em;
	font-family: 'Baloo Bhaina', cursive;	
	border-radius: 10px;
	height: 50px;
	width: 278px;
	padding-top: 13px;
	padding-left: 15px;
	margin-left: -15px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.center {
	text-align: center;
	margin-top: 6px;
	margin-right: 0px;
}

#headShot {
	float: left;
	margin: 5px 20px 5px 0;
	border-color: #161924;
	border-style: solid;
	border-width: 2px;
}

.content {
	padding: 20px;
	background-image: url(images/purty_wood.png);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.contentTop {
	background-image: url(images/purty_wood.png);
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	margin: 10px 0 5px 0;
	padding-top: 10px;
	text-align: center;
	color: #161924;
	height: 79px;
}

.connect {
	background-image: url(images/weather.png);
	width: 290px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	border-radius: 12px;

}

#footer {
	text-align: center;
	background-image: url("images/backGround.png");
	height: 60px;
	padding-top: 18px;
	clear: both;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius:  20px;
	margin-bottom: 10px;
}

a.remove {
	text-decoration: none;
	color: #E8BC7A;
	cursor: default;
}

h3 {
	font-family: 'Baloo Bhaina', cursive;	
	font-size: 2em;
	font-weight: bold;
	margin-top: 19px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: black; 
	color: #0e131a;
}


/* NAVBAR */

.right {
	float: right;
}

h1 {
	margin-top: -2px;
	font-weight: bold;
}

.navbar-header {
	margin-left: 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin: 0;
}


/*PORTFOLIO*/

.portEntry {
	float: left;
	border-radius: 5px;
	overflow: hidden;
	margin: 30px;
	margin-bottom: 10px;
	position: relative;
	width: 213px;
	border-color: #161924;
	border-style: solid;
	border-width: 2px;
}

.portEntry:hover .portDesc {
	position: absolute;
	border-radius: 1px;
	width: 180px;
	height: 35px;
	bottom: 30px;
	right: 18px;

}

.portDesc {
	position: absolute;
	text-align: center;
	color: #161924;
	font-size: .8em;
	font-family: 'Baloo Bhaina', cursive;	
	border-radius: 10px;
	height: 35px;
	width: 180px;
	border-width: 2px;
	border-style: solid;
	border-color: #161924;
	bottom: 30px;
	right: 18px;
	background-image: url("images/purty_wood.png");

}

.portDesc h3 {
	margin-top: 7px;
}

/* CONTACT*/

.contactQ {
	color: #161924;
	font-size: 1.2em;
	font-weight: 700;
	margin-left: 6px;
}

.contactA {
	margin-left: 5px;
}

.input {
	color: #EABE77;
	background-image: url("images/backGround.png");
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
	height: 44px;
	width: 100px;
	margin: 0 0 3px 5px;
	font-family: 'Open Sans', sans-serif;
}

.input:hover {
	background-image: url("images/purty_wood.png");
	color: #161924;
}